_site/
.sass-cache/

_data/authors.yml

_includes/article_index_short.html

_includes/full.html

_layouts/author_index.html

_layouts/category_index.html

_layouts/index_alt.html

_layouts/tag_index.html

_site/